In [1]:
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Problem 3

<img src="3.jpg" width="50%" />
Из условия нельзя уверенно судить: определяется ли спрос в первые два года раз и навсегда,
или же спрос меняется каждый год (и эти изменения моделируются марковским процессом).

Для первого случая вручную нарисуем дерево, для второго --- посчитаем оценки на ЭВМ.

**NB**: в любом случае,
в поставленных условиях в хоть сколь-нибудь длительной перспективе
всегда выгоднее вклад под проценты,
так как он обеспечивает экспоненциальный рост,
а во всех остальных случаях темпы роста ограничены.

Ежегодные прибыли:

In [2]:
server_highdemand = 501000 - 141000 - 21000
server_highdemand

339000

In [3]:
server_lowdemand = 301000 - 141000 - 21000
server_lowdemand

139000

In [4]:
vps_highdemand = 0.7*501000 - 141000
vps_highdemand

209700.0

In [5]:
vps_lowdemand = 0.7*301000 - 141000
vps_lowdemand

69700.0

Ожидаемые ежегодные прибыли:

In [6]:
(.8*server_highdemand + .2*server_lowdemand)

299000.0

In [7]:
(.4*server_highdemand + .6*server_lowdemand)

219000.0

In [8]:
(
    .6*(.8*server_highdemand + .2*server_lowdemand) +
    .4*(.4*server_highdemand + .6*server_lowdemand)
)

267000.0

In [9]:
(.8*vps_highdemand + .2*vps_lowdemand)

181700.0

In [10]:
(.4*vps_highdemand + .6*vps_lowdemand)

125700.0

In [11]:
(
    .6*(.8*vps_highdemand + .2*vps_lowdemand) +
    .4*(.4*vps_highdemand + .6*vps_lowdemand)
)

159300.0

Balance after three years:

In [12]:
import pandas as pd

In [13]:
diffs = pd.DataFrame(
    columns=(
        ['choice', 'initial_costs', 'p1', 'y1d', 'p2', 'y2d']),
    data=[
        ['server', -201000-151000,  .6,   339000, .8,  339000],
        ['server', -201000-151000,  .6,   339000, .2,  139000],
        ['server', -201000-151000,  .4,   139000, .4,  339000],
        ['server', -201000-151000,  .4,   139000, .6,  139000],
        
        ['vps',    -201000,         .6,   209700, .8,  209700],
        ['vps',    -201000,         .6,   209700, .2,  69700 ],
        ['vps',    -201000,         .4,   69700,  .4,  209700],
        ['vps',    -201000,         .4,   69700,  .6,  69700 ],
    ], )

diffs['y3d'] = diffs['y2d']
diffs['balance'] = diffs.initial_costs + diffs.y1d + diffs.y2d + diffs.y3d
diffs['joint'] = diffs['p1'] * diffs['p2']
display(diffs)
by_choice = diffs.groupby('choice')
for c,df in by_choice:
    print(c, (df['balance']*df['joint']).sum())

   choice  initial_costs   p1     y1d   p2     y2d     y3d  balance  joint
0  server        -352000  0.6  339000  0.8  339000  339000   665000   0.48
1  server        -352000  0.6  339000  0.2  139000  139000   265000   0.12
2  server        -352000  0.4  139000  0.4  339000  339000   465000   0.16
3  server        -352000  0.4  139000  0.6  139000  139000    65000   0.24
4     vps        -201000  0.6  209700  0.8  209700  209700   428100   0.48
5     vps        -201000  0.6  209700  0.2   69700   69700   148100   0.12
6     vps        -201000  0.4   69700  0.4  209700  209700   288100   0.16
7     vps        -201000  0.4   69700  0.6   69700   69700     8100   0.24

server 441000.0
vps 271300.0

In [14]:
def deposit_account(v0, x, n):
    return v0*(1.2-x)**n

def deposit_draw(v0, x, n):
    return v0*x*(1.2-x)**(n-1)

In [15]:
deposit_account(200000, .1, 3), deposit_draw(200000, .1, 3)

(266199.9999999999, 24199.999999999996)