# Problem 2

<img src="2.jpg" width="50%" />

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

...

In [52]:
# ``a'' stands for ``attendance''
df = pd.DataFrame({
    'a': [4000, 4500, 5000, 5500, 6000],
    'p': [.1, .3, .3, .2, .1],
})
star = 1
df.a += star
df.transpose()

        0       1       2       3       4
a  4001.0  4501.0  5001.0  5501.0  6001.0
p     0.1     0.3     0.3     0.2     0.1

In [53]:
parms = pd.DataFrame(dict(
    base_cost = 200,
    unit_cost = 30,
    unit_income = 60,
    base_income = 300,
), index=[1])
parms

   base_cost  base_income  unit_cost  unit_income
1        200          300         30           60

In [54]:
def gen_profit(df, parms):
    def profit(q):
        sold = np.minimum(df.a, np.array([q]))
        profit = (
            sold*parms.unit_income
            - q*parms.unit_cost
            + parms.base_income
            - parms.base_cost 
        )
        return profit
    return profit

In [55]:
def gen_profit_moments(df, parms):
    profit = gen_profit(df, parms)
    def profit_moments(q):
        pro = profit(q)
        mu = (df.p * pro).sum()
        std = (df.p * (pro - mu)**2).sum()
        return mu, std
    return profit_moments

In [56]:
QQ = np.arange(4000, 6001, 1)
profit, moments = gen_profit(df, parms), gen_profit_moments(df, parms)

In [61]:
'a_' + df.a.astype(str)

0    a_4001
1    a_4501
2    a_5001
3    a_5501
4    a_6001
Name: a, dtype: object